Theophanie Scholastica Tanzil's Notebook

# Python Data Structures

## **Lists**
List are ordered, mutable collections that can hold a variety of data types.

### Creating and accessing Lists

In [1]:
fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']
print("List of Fruits:", fruits)

# accessing elements in the list by index
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

# slicing
print("First three fruits:", fruits[:3])
print("Last two fruits:", fruits[-2:])

List of Fruits: ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']
First fruit: Apple
Last fruit: Elderberry
First three fruits: ['Apple', 'Banana', 'Cherry']
Last two fruits: ['Date', 'Elderberry']

### Using Common List Methods
Python lists come with handy methods to manipulate them.

In [4]:
# init
fruits_2 = ['Apple', 'Banana', 'Cherry', 'Pineapple']

# append
fruits_2.append('Date')
print("After append:", fruits_2)

# add a fruit at index 1
fruits_2.insert(1, 'Elderberry')
print("After insert:", fruits_2)

# remove
fruits_2.remove('Banana')
print("After remove:", fruits_2)

# pop 3rd element
popped_fruit = fruits.pop(2)
print("After pop:", fruits_2)
print("Popped Fruit:", popped_fruit)

# find the index of pineapple
index = fruits_2.index('Pineapple')
print("Index of Pineapple:", index)

# count apple's appearance
fruits_2.append('Apple')
count = fruits_2.count('Apple')
print("Number of Apples:", count)

# sort
fruits_2.sort()
print("After sort:", fruits_2)

# reverse
fruits_2.reverse()
print("After reverse:", fruits_2)

# clear
fruits_2.clear()
print("After clear:", fruits_2)

After append: ['Apple', 'Banana', 'Cherry', 'Pineapple', 'Date']
After insert: ['Apple', 'Elderberry', 'Banana', 'Cherry', 'Pineapple', 'Date']
After remove: ['Apple', 'Elderberry', 'Cherry', 'Pineapple', 'Date']
After pop: ['Apple', 'Elderberry', 'Cherry', 'Pineapple', 'Date']
Popped Fruit: Date
Index of Pineapple: 3
Number of Apples: 2
After sort: ['Apple', 'Apple', 'Cherry', 'Date', 'Elderberry', 'Pineapple']
After reverse: ['Pineapple', 'Elderberry', 'Date', 'Cherry', 'Apple', 'Apple']
After clear: []

### Using Slice Notation
Slice let us access parts of a list easily.

In [5]:
# init
numbers = [10, 20, 30, 40, 50 , 60, 70, 80]

# slicing
print("All elements:", numbers[:])
print("Elements 2 to 5:", numbers[2:6])
print("First four elements:", numbers[:4])
print("From index 4 onwards:", numbers[4:])
print("Every second element:", numbers[::2])
print("Reversed list:", numbers[::-1])

All elements: [10, 20, 30, 40, 50, 60, 70, 80]
Elements 2 to 5: [30, 40, 50, 60]
First four elements: [10, 20, 30, 40]
From index 4 onwards: [50, 60, 70, 80]
Every second element: [10, 30, 50, 70]
Reversed list: [80, 70, 60, 50, 40, 30, 20, 10]

### Using a List as a Queue
Queues follow FIFO (First-In-First-Out). Lists can act as queues, but `deque` is more efficient.

In [6]:
# init
queue = []

# enqueue elements
queue.append('First')
queue.append('Second')
queue.append('Third')
print("Queue after enqueuing:", queue)

# dequeue elements
first_out = queue.pop(0)
print("Dequeued Element:", first_out)
print("Queue after dequeuing:", queue)

second_out = queue.pop(0)
print("Dequeued Element:", second_out)
print("Queue after dequeuing:", queue)

Queue after enqueuing: ['First', 'Second', 'Third']
Dequeued Element: First
Queue after dequeuing: ['Second', 'Third']
Dequeued Element: Second
Queue after dequeuing: ['Third']

### Using a List as a Stack
Stacks follow LIFO (Last-In-First-Out). Lists are perfect for this.

In [7]:
# init
stack = []

# push elements
stack.append('Bottom')
stack.append('Middle')
stack.append('Top')
print("Stack after pushing:", stack)

# pop elements
top_element = stack.pop()
print("Popped Element:", top_element)
print("Stack after popping:", stack)

middle_element = stack.pop()
print("Popped Element:", middle_element)
print("Stack after popping:", stack)

Stack after pushing: ['Bottom', 'Middle', 'Top']
Popped Element: Top
Stack after popping: ['Bottom', 'Middle']
Popped Element: Middle
Stack after popping: ['Bottom']

### Using Lists and Stacks for Natural Language Processing (NLP)
Stacks can help manage nested structures, like parentheses in text.

In [8]:
def is_balanced_parentheses(s):
    stack = []
    for char in s:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if not stack:
                return False
            stack.pop()
    return not stack

# test cases
print(is_balanced_parentheses("(a + b) * (c + d)"))
print(is_balanced_parentheses("((a + b)"))
print(is_balanced_parentheses("(a + b))"))

True
False
False

### Making Improvements with List Comprehensions
List comprehensions offer a concise way to create lists.

In [9]:
# loop to create a list of squares
squares = []
for x in range(10):
    squares.append(x**2)
print("Squares using loop:", squares)

# list comprehension
squares_comp = [x**2 for x in range(10)]
print("Squares using list comprehension:", squares_comp)

# filtering
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print("Even Squares:", even_squares)

# nested list
matrix = [[j for j in range(5)] for i in range(3)]
print("Matrix:", matrix)

Squares using loop: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Squares using list comprehension: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Even Squares: [0, 4, 16, 36, 64]
Matrix: [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

## **Tuples**
Tuples are ordered, immutable collections.

### Creating and Accessing Tuples

In [11]:
person = ('Taylor Swift', 30, 'Singer')
print("Tuple:", person)

# elements
print("Name:", person[0])
print("Age:", person[1])

# slicing
print("First two elements:", person[:2])

# unpacking
name, age, profession = person
print("Unpacked:", name, age, profession)

Tuple: ('Taylor Swift', 30, 'Singer')
Name: Taylor Swift
Age: 30
First two elements: ('Taylor Swift', 30)
Unpacked: Taylor Swift 30 Singer

### A List of Tuples
Combining lists and tuples allows for structured data storage.

In [12]:
# list of students
students = [
    ('Alice', 22, 'A'),
    ('Bob', 21, 'B'),
    ('Charlie', 23, 'A'),
    ('David', 20, 'C')
]

print("List of Students:")
for student in students:
    print(student)

List of Students:
('Alice', 22, 'A')
('Bob', 21, 'B')
('Charlie', 23, 'A')
('David', 20, 'C')

### Immutability
Tuples can't be changed after creation, unlike lists.

In [13]:
# immutable
immutable_tuple = (1, 2, 3)
print("Immutable Tuple:", immutable_tuple)

# attempting to modify
# NOTE: will return in Error
try:
    immutable_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

# mutable list
mutable_list = [1, 2, 3]
print("Mutable List before:", mutable_list)
mutable_list[0] = 10
print("Mutable List after:", mutable_list)

Immutable Tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment
Mutable List before: [1, 2, 3]
Mutable List after: [10, 2, 3]

## **Dictionaries**
Dictionaries store data in key-value pairs.

### Creating and Accessing Dictionaries

In [14]:
student = {
    'Name': 'Alice',
    'Age': 22,
    'Major': 'Computer Science'
}
print("Dictionary:", student)

print("Name:", student['Name'])
print("Age:", student.get('Age'))

# adding a new key-value pair
student['Graduated'] = False
print("After adding Graduated:", student)

# removing a key-value pair
removed = student.pop('Major')
print("After removing Major:", student)
print("Removed Value:", removed)

# iterating through keys and values
print("\nKeys:")
for key in student:
    print(key)

print("\nValues:")
for value in student.values():
    print(value)

print("\nKey-Value Pairs:")
for key, value in student.items():
    print(f"{key}: {value}")

Dictionary: {'Name': 'Alice', 'Age': 22, 'Major': 'Computer Science'}
Name: Alice
Age: 22
After adding Graduated: {'Name': 'Alice', 'Age': 22, 'Major': 'Computer Science', 'Graduated': False}
After removing Major: {'Name': 'Alice', 'Age': 22, 'Graduated': False}
Removed Value: Computer Science

Keys:
Name
Age
Graduated

Values:
Alice
22
False

Key-Value Pairs:
Name: Alice
Age: 22
Graduated: False

### A List of Dictionaries
Lists can contain dictionaries for complex data structures.

In [16]:
employees = [
    {'Name': 'John', 'Age': 30, 'Department': 'HR'},
    {'Name': 'Jane', 'Age': 25, 'Department': 'Engineering'},
    {'Name': 'Dave', 'Age': 35, 'Department': 'Sales'}
]

print("List of Employees:")
for emp in employees:
    print(emp)

# specific info
print("\nEmployee Names:")
for emp in employees:
    print(emp['Name'])

# adding a new employee
new_emp = {'Name': 'Eve', 'Age': 28, 'Department': 'Marketing'}
employees.append(new_emp)
print("\nAfter adding Eve:", employees)

List of Employees:
{'Name': 'John', 'Age': 30, 'Department': 'HR'}
{'Name': 'Jane', 'Age': 25, 'Department': 'Engineering'}
{'Name': 'Dave', 'Age': 35, 'Department': 'Sales'}

Employee Names:
John
Jane
Dave

After adding Eve: [{'Name': 'John', 'Age': 30, 'Department': 'HR'}, {'Name': 'Jane', 'Age': 25, 'Department': 'Engineering'}, {'Name': 'Dave', 'Age': 35, 'Department': 'Sales'}, {'Name': 'Eve', 'Age': 28, 'Department': 'Marketing'}]

### Adding to a Dictionary with `setdefault()`

`setdefault()` adds a key with a default value if it doesn't exist.

In [17]:
inventory = {}

# add items
inventory.setdefault('Apples', 10)
inventory.setdefault('Bananas', 5)
print("Inventory after setdefault:", inventory)

# attempt to set a default for an existing key
inventory.setdefault('Apples', 20)
print("After attempting to set Apples to 20:", inventory)

# update
inventory['Bananas'] += 15
print("After updating Bananas:", inventory)

Inventory after setdefault: {'Apples': 10, 'Bananas': 5}
After attempting to set Apples to 20: {'Apples': 10, 'Bananas': 5}
After updating Bananas: {'Apples': 10, 'Bananas': 20}

### Loading JSON into a Dictionary
We can convert JSON strings into Python dictionaries.

In [18]:
import json

# JSON string
json_data = '''
{
    "Name": "Fany",
    "Age": 25,
    "City": "New York",
    "Skills": ["Python", "Data Analysis", "Machine Learning"]
}
'''

# parse
data = json.loads(json_data)
print("Dictionary from JSON:", data)

print("Name:", data['Name'])
print("Skills:", data['Skills'])

Dictionary from JSON: {'Name': 'Fany', 'Age': 25, 'City': 'New York', 'Skills': ['Python', 'Data Analysis', 'Machine Learning']}
Name: Fany
Skills: ['Python', 'Data Analysis', 'Machine Learning']

## **Sets**
Sets are unordered collections of unique elements.

### Creating and Using Sets

In [20]:
fruits_3 = {'Apple', 'Banana', 'Cherry', 'Durian'}
print("Set of Fruits:", fruits_3)

# add
fruits_3.add('Date')
print("After adding Date:", fruits_3)

# adding a duplicate
fruits_3.add('Durian')
print("After adding duplicate Durian:", fruits_3)

# remove
fruits_3.remove('Banana')
print("After removing Banana:", fruits_3)

# discard
fruits_3.discard('Elderberry')
print("After discarding Elderberry:", fruits_3)

# iteration
print("\nFruits in the set:")
for fruit in fruits_3:
    print(fruit)

Set of Fruits: {'Apple', 'Durian', 'Banana', 'Cherry'}
After adding Date: {'Banana', 'Apple', 'Durian', 'Date', 'Cherry'}
After adding duplicate Durian: {'Banana', 'Apple', 'Durian', 'Date', 'Cherry'}
After removing Banana: {'Apple', 'Durian', 'Date', 'Cherry'}
After discarding Elderberry: {'Apple', 'Durian', 'Date', 'Cherry'}

Fruits in the set:
Apple
Durian
Date
Cherry

### Removing Duplicates from Sequences
Sets help remove duplicate items from lists.

In [21]:
# list with duplicates
numbers = [1, 2, 3, 2, 4, 3, 5, 1, 6]

# removing duplicates
unique_numbers = list(set(numbers))
print("Unique Numbers:", unique_numbers)

# order
unique_ordered = list(dict.fromkeys(numbers))
print("Unique Numbers (Ordered):", unique_ordered)

Unique Numbers: [1, 2, 3, 4, 5, 6]
Unique Numbers (Ordered): [1, 2, 3, 4, 5, 6]

### Performing Common Set Operations
Sets support operations like union, intersection, difference, and symmetric difference.

In [22]:
# two sets
set_a = {'Apple', 'Banana', 'Cherry', 'Date'}
set_b = {'Cherry', 'Date', 'Elderberry', 'Fig'}

print("Set A:", set_a)
print("Set B:", set_b)

# union
union_set = set_a.union(set_b)
print("\nUnion:", union_set)

# intersection
intersection_set = set_a.intersection(set_b)
print("Intersection:", intersection_set)

# difference (A - B)
difference_set = set_a.difference(set_b)
print("Difference (A - B):", difference_set)

# symmetric difference
sym_diff_set = set_a.symmetric_difference(set_b)
print("Symmetric Difference:", sym_diff_set)

# subset and superset
print("\nIs Set A a subset of Set B?", set_a.issubset(set_b))
print("Is Set A a superset of Set B?", set_a.issuperset(set_b))

Set A: {'Apple', 'Date', 'Cherry', 'Banana'}
Set B: {'Fig', 'Date', 'Cherry', 'Elderberry'}

Union: {'Banana', 'Apple', 'Fig', 'Date', 'Cherry', 'Elderberry'}
Intersection: {'Date', 'Cherry'}
Difference (A - B): {'Apple', 'Banana'}
Symmetric Difference: {'Banana', 'Apple', 'Fig', 'Elderberry'}

Is Set A a subset of Set B? False
Is Set A a superset of Set B? False